@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: linear-gradient(135deg,rgba(6,147,227,1) 0%,#9b51e0 100%);
    background-repeat: no-repeat;
}
nav{
    padding: 16px 80px;
    display: flex;
    justify-content: center;
}
.banner{
    padding: 12px 0;
    position: relative;
}
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
   
    text-shadow: #070707;
}
p{
    color: #fff;
    text-align: center;
    width: 35%;
    display: inline-flex;
}
.first{
    font-weight: 300; 
    padding-top: 20px;
}
.main{
    text-shadow: 1px 1px 10px #444; 
    font-size: 72px;
}
.divided-banner {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.first-part{
    width: 45%;
}
.time-cont{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: #9b51e0; */
    /* position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%); */
}
.email-btn{
 display: flex;
 justify-content: center;
}
.email{
    width: 200px;
    height: 56px;
    font-size: 22px;
    border-radius: 12px;
    border:1px solid #fff;
    color: #ffffff;
    outline: none;
    background-color: transparent;
    display: inline-block;
    justify-content: center;
}
.email:hover{
    background-color: #fff;
    color: rgba(6,147,227,1);
    border: none;
    transition: 0.5s ease-in-out;
}

.email a:hover{
    color: rgba(6,147,227,1);
}
.timer{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 32px 0;
}
.timer-circle{
    border-radius: 50%;
    border: 1px solid white;
    width: 120px;
    height: 120px;
    position: relative;
}
.timer-circle p{
    position: absolute;
    font-size: 52px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.time-label{
    text-align: center;
    width: 100%;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    padding: 8px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.icons a{
    font-size: 32px;
    text-decoration: none;
    color: #fff;
    outline: none;
    padding: 24px 0;
}
.copyright{
    text-align: center;
    color: #cccc;
}
footer{
  padding: 13.5px 0;
}
@media screen and (max-width: 1220px){
    .banner{
        padding: 32px 0;
    }
    nav{
        padding: 32px 0;
    }
   
    .divided-banner{
        flex-direction: column;
        row-gap: 50px;
        margin-bottom: 120px;
    }
    .first-part{
        width: 70%;
    }
    .time-cont{
        width: 100%;
    }
    .copyright{
     padding-bottom: 20px; 
    }

}
@media screen and (max-width: 768px){
    .divided-banner{
         margin-bottom: 50px;
    }
   
}
@media screen and (max-width: 420px){
    .timer{
        flex-wrap: wrap;
        padding: 0 30px;
        row-gap: 30px;
        margin-bottom: 40px;
     }
     .copyright{
        font-size: 13px;
     }
}
@media screen and (max-width: 360px){
    .divided-banner{
        padding: 16px !important;
    }
        
}